*, *:before, *:after {
    box-sizing: border-box;
}

html {
    overflow-y: scroll;
}

body {
    background: #4F575E;
    font-family: 'Titillium Web', sans-serif;
}



.tab1 {
    padding:20px;
    background: #1b1e24;
    height:70px; 

}

a {
    text-decoration: none;
    color: #666B85;
    -webkit-transition: .5s ease;
    transition: .5s ease;
    text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
}
a:hover {
    color: #ffffff;
}

.form-main1 { 
    max-width: 900px;
    margin: 30px auto;  
    box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
    margin: 10px;
    float: left;
}

.form-main2 {

    max-width: 900px;
    margin: 30px auto;  
    box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
    margin: 10px;
    float: left;
}

.form-mainall {
    border: 2px;
    background: #343a40;
    max-width: 1920px;
    margin: 30px auto;  
    box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
    margin: 3%;
    float: left;
}

.form2 {
    background: #343a40;
    max-width: 600px;


}

.form3 {
    background: #343a40;
    max-width: 600px;
    padding: 5px;
}

.tab-group {
    list-style: none;
    padding: 0;
    margin: 0 0 0 0;
}
.tab-group:after {
    content: "";
    display: table;
    clear: both;
}
.tab-group li a {
    display: block;
    text-decoration: none;
    padding: 15px;
    background: rgba(160, 179, 176, 0.25);
    color: #a0b3b0;
    font-size: 20px;
    float: left;
    width: 100%;
    text-align: center;

    -webkit-transition: .5s ease;
    transition: .5s ease;
}
.tab-group li a:hover {
    background: #C66100;
    color: #ffffff;
}
.tab-group .active a {
    background: #FF7C00;
    color: #ffffff;
}

.tab-content > div:last-child {
    display: none;
}

.tab-group2 {
    list-style: none;
    padding: 0;
    margin: 0 0 40px 0;
}
.tab-group2:after {
    content: "";
    display: table;
    clear: both;
}
.tab-group2 li a {
    display: block;
    text-decoration: none;
    padding: 15px;
    background: rgba(160, 179, 176, 0.25);
    color: #a0b3b0;
    font-size: 20px;
    float: left;
    width: 50%;
    text-align: center;
    cursor: pointer;
    -webkit-transition: .5s ease;
    transition: .5s ease;
}
.tab-group2 li a:hover {
    background: #E40031;
    color: #ffffff;
}
.tab-group2 .active a {
    background: #B30026;
    color: #ffffff;
}

.tab-content2 > div:last-child {
    display: none;
}

h1 {
    text-align: center;
    color: #ffffff;
    font-weight: 200;
    margin: 0 0 40px;
    font-size: 20px;
}

h2 {
    text-align: left;
    color: #ffffff;
    font-weight: lighter;
    margin: 0 0 18px;
}

h3 {
    margin-top: 25%;
    text-align: center;
    color: #ffffff;
    font-weight: 300;
    margin: 0 0 40px;
}

h4 {
    text-align: center;
    color: #ffffff;
    font-weight: 300;
    margin: 0 0 40px;
    font-size: 31px;
}


label {
    position: absolute;
    -webkit-transform: translateY(6px);
    transform: translateY(6px);
    left: 13px;
    color: rgba(255, 255, 255, 0.5);
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
    -webkit-backface-visibility: hidden;
    pointer-events: none;
    font-size: 20px;
    font-weight: 100;
}
label .req {
    margin: 2px;
    color: #FF7C00;
}

label.active {
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
    left: 2px;
    font-size: 14px;
}
label.active .req {
    opacity: 0;
}

label.highlight {
    color: #ffffff;
}

input, textarea {
    font-size: 22px;
    display: block;
    width: 100%;
    height: 100%;
    padding: 5px 10px;
    background: none;
    background-image: none;
    border: 1px solid #a0b3b0;
    color: #ffffff;
    border-radius: 0;
    -webkit-transition: border-color .25s ease, box-shadow .25s ease;
    transition: border-color .25s ease, box-shadow .25s ease;
}
input:focus, textarea:focus {
    outline: 0;
    border-color: #FF7C00;
}

textarea {
    border: 2px solid #a0b3b0;
    resize: vertical;
}

.field-wrap {
    position: relative;
    margin-bottom: 40px;
}

.top-row:after {
    content: "";
    display: table;
    clear: both;
}
.top-row > div {
    float: left;
    width: 48%;
    margin-right: 4%;
}
.top-row > div:last-child {
    margin: 0;
}

.button {
    width: 40%;
    border: 0;
    outline: none;
    border-radius: 0;
    padding: 15px 0;
    font-size: 25px;
    font-weight: 200;
    background: #E40031;
    color: #ffffff;
    cursor: pointer;
}
.button:hover, .button:focus {
    background: #B30026;
}


.button2 {
    margin-left: 9%;
    margin-right: 9%;
    width: 30%;
    border: 0;
    outline: none;
    border-radius: 0;
    padding: 15px 0;
    font-size: 25px;
    font-weight: 200;
    background: #FFE325;
    color: #ffffff;
    cursor: pointer;
}

.button2:hover, .button2:focus {
    background: #DBBF02;
}

.button3 {
    margin-left: 10%;
    margin-right: 8%;
    width: 30%;
    border: 0;
    outline: none;
    border-radius: 0;
    padding: 15px 0;
    font-size: 25px;
    font-weight: 200;
    background: #FF7C00;
    color: #ffffff;
    cursor: pointer;
}
.button3:hover, .button3:focus {
    background: #C66100;
}

.forgot {
    margin-top: -20px;
    text-align: right;
}

.sel {
    font-size: 20px;
    margin-bottom: 3em;
    width: 150px;
    background-color: rgba(160, 179, 176, 0.25);
    position: relative;
    cursor: pointer;
}



.sel.active::before {
    transform: rotateX(-180deg);
}

.sel__placeholder {
    display: block;
    font-family: 'Quicksand';
    font-size: 20px;
    color: rgba(255, 255, 255, 0.5);
    padding: 0.2em 0.5em;
    text-align: left;
    pointer-events: none;
    user-select: none;
    visibility: visible;
}

.sel.active .sel__placeholder {
    visibility: hidden;
}

.sel__placeholder::before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0.2em 0.5em;
    content: attr(data-placeholder);
    visibility: hidden;
}

.sel.active .sel__placeholder::before {
    visibility: visible;
}

.sel__box {  
    position: absolute;
    top: calc(100% + 4px);
    left: -4px;
    display: none;
    list-style-type: none;
    text-align: left;
    font-size: 20px;
    background-color: rgba(160, 179, 176, 0.25);
    width: calc(100% + 8px);
    box-sizing: border-box;
}

.sel.active .sel__box {
    display: block;
    animation: fadeInUp 500ms;
}

.sel__box__options {
    display: list-item;
    font-family: 'Quicksand';
    font-size: 20px;
    color: rgba(255, 255, 255, 0.5);
    padding: 0.5em 1em;
    user-select: none;
}

.sel__box__options::after {
    content: '\f00c';
    font-family: 'FontAwesome';
    font-size: 20px;
    margin-left: 5px;
    display: none;
}


.sel__box__options:hover {
    background-color: #FF7C00;
}


.sel--black-panther {
    z-index: 3;
}

/* ===== Keyframes ===== */
@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translate3d(0, 20px, 0);
    }

    to {
        opacity: 1;
        transform: none;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

.rule {
    margin: 10px 0;
    border: none;
    height: 1.5px;
    background-image: linear-gradient(left, #f0f0f0, #c9bbae, #f0f0f0);
}

div.table-title {
    display: block;
    margin: auto;
    max-width: 900px;
    padding:5px;
    width: 100%;
}

.table-title h3 {
    color: #fafafa;
    font-size: 30px;
    font-weight: 400;
    font-style:normal;
    font-family: "Roboto", helvetica, arial, sans-serif;
    text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
    text-transform:uppercase;
}


/*** Table Styles **/

.table-fill {
    background: white;
    border-radius:3px;
    border-collapse: collapse;
    height: 320px;
    margin: auto;
    max-width: 600px;
    padding:5px;
    width: 100%;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    animation: float 5s infinite;
}

th {
    color:#D5DDE5;
    background:#6C747C;
    border-bottom:4px solid #9ea7af;
    border-right: 1px solid #343a45;
    font-size:18px;
    font-weight: 100;
    padding:24px;
    text-align:left;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    vertical-align:middle;
}

th:first-child {
    border-top-left-radius:3px;
}

th:last-child {
    border-top-right-radius:3px;
    border-right:none;
}

tr {
    border-top: 1px solid #C1C3D1;
    border-bottom-: 1px solid #C1C3D1;
    color:#666B85;
    font-size:16px;
    font-weight:normal;
    text-shadow: 0 1px 1px rgba(256, 256, 256, 0.1);
}

tr:hover td {
    background:#4E5066;
    color:#FFFFFF;
    border-top: 1px solid #22262e;
}

tr:first-child {
    border-top:none;
}

tr:last-child {
    border-bottom:none;
}

tr:nth-child(odd) td {
    background:#EBEBEB;
}

tr:nth-child(odd):hover td {
    background:#4E5066;
}

tr:last-child td:first-child {
    border-bottom-left-radius:3px;
}

tr:last-child td:last-child {
    border-bottom-right-radius:3px;
}

td {
    background:#FFFFFF;
    padding:20px;
    text-align:left;
    vertical-align:middle;
    font-weight:300;
    font-size:18px;
    text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
    border-right: 1px solid #C1C3D1;
}

td:last-child {
    border-right: 0px;
}

th.text-left {
    text-align: left;
}

th.text-center {
    text-align: center;
}

th.text-right {
    text-align: right;
}

td.text-left {
    text-align: left;
}

td.text-center {
    text-align: center;
}

td.text-right {
    text-align: right;
}

.header-login-signup{
	background-color:#292c2f;
	box-shadow:0 1px 1px #ccc;
	padding: 20px 40px;
	height: 80px;
	color: #ffffff;
	box-sizing: border-box;
}

.header-login-signup .header-limiter {
	max-width: 1200px;
	text-align: center;
	margin: 0 auto;
}

/* Logo */

.header-login-signup .header-limiter h1{
	float: left;
	font: normal 28px Cookie, Arial, Helvetica, sans-serif;
	line-height: 40px;
	margin: 0;
}

.header-login-signup .header-limiter h1 span {
	color: #5383d3;
}

/* The navigation links */

.header-login-signup .header-limiter a {
	color: #ffffff;
	text-decoration: none;
}

.header-login-signup .header-limiter nav {
	font:16px Arial, Helvetica, sans-serif;
	line-height: 40px;
	float: left;
	margin: 0 0 0 60px;
	padding: 0;
}

.header-login-signup .header-limiter nav a{
	font-size: 14px;
	display: inline-block;
	padding: 0 5px;
	opacity: 0.9;
	text-decoration:none;
	line-height: 1;
}

.header-login-signup .header-limiter nav a:hover {
	opacity: 1;
}

.header-login-signup .header-limiter nav a.selected {
	color: #608bd2;
}

/* Login/Sign up buttons */

.header-login-signup .header-limiter ul {
	font: 14px Arial, Helvetica, sans-serif;
	list-style: none;
	line-height: 1;
	float: right;
}

.header-login-signup .header-limiter ul li {
	display: inline-block;
	margin-left: 15px;
	opacity:0.9;
}

.header-login-signup .header-limiter ul li:hover{
	opacity: 1;
}

/* The sign up button */

.header-login-signup .header-limiter ul li:last-child a {
	font-weight: bold;
	background-color: #3a3c3e;
	padding: 10px 15px;
	border-radius: 3px;
}

/* Making the header responsive */

@media all and (max-width: 600px) {

	.header-login-signup {
		padding: 25px;
		height: 85px;
	}

	.header-login-signup .header-limiter h1 {
		float: none;
		margin: -8px 0 2px;
		text-align: center;
		font-size: 24px;
		line-height: 1;
	}

	.header-login-signup .header-limiter nav {
		margin: 0;
		float: none;
	}

	.header-login-signup .header-limiter nav li a {
		font-size: 13px;
	}

	.header-login-signup .header-limiter ul {
		display: none;
	}

}