<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>AuthFilter</filter-name>
        <filter-class>com.senior.g40.filter.AuthFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AuthFilter</filter-name>
        <servlet-name>TestConnectServlet</servlet-name>
        <dispatcher>REQUEST</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AuthFilter</filter-name>
        <url-pattern>/Test</url-pattern>
        <dispatcher>REQUEST</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AuthFilter</filter-name>
        <servlet-name>ToServlet</servlet-name>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-name>TestConnectServlet</servlet-name>
        <servlet-name>MonitoringServlet</servlet-name>
        <servlet-name>SettingServlet</servlet-name>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <servlet>
        <servlet-name>ToServlet</servlet-name>
        <servlet-class>com.senior.g40.servlet.ToServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>com.senior.g40.servlet.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignupServlet</servlet-name>
        <servlet-class>com.senior.g40.servlet.SignupServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>com.senior.g40.servlet.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DriverAppInServlet</servlet-name>
        <servlet-class>com.senior.g40.servlet.DriverAppInServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RescuerAppInServlet</servlet-name>
        <servlet-class>com.senior.g40.servlet.RescuerAppInServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TestConnectServlet</servlet-name>
        <servlet-class>com.senior.g40.servlet.TestConnectServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MonitoringServlet</servlet-name>
        <servlet-class>com.senior.g40.servlet.MonitoringServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StatisticServlet</servlet-name>
        <servlet-class>com.senior.g40.servlet.StatisticServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SettingServlet</servlet-name>
        <servlet-class>com.senior.g40.servlet.SettingServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReporterAppInServlet</servlet-name>
        <servlet-class>com.senior.g40.servlet.ReporterAppInServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrganizationServlet</servlet-name>
        <servlet-class>com.senior.g40.servlet.OrganizationServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ToServlet</servlet-name>
        <url-pattern>/To</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignupServlet</servlet-name>
        <url-pattern>/Signup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DriverAppInServlet</servlet-name>
        <url-pattern>/DriverIn</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RescuerAppInServlet</servlet-name>
        <url-pattern>/RescuerIn</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TestConnectServlet</servlet-name>
        <url-pattern>/TestC</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MonitoringServlet</servlet-name>
        <url-pattern>/Monitor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StatisticServlet</servlet-name>
        <url-pattern>/Statistic</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SettingServlet</servlet-name>
        <url-pattern>/Setting</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReporterAppInServlet</servlet-name>
        <url-pattern>/ReporterAppIn</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrganizationServlet</servlet-name>
        <url-pattern>/Organization</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
